In [2]:
import os
import pandas as pd

df= pd.read_csv('Metro_Interstate_Traffic_Volume.csv')
df.rain_1h.rename('rain')
df2 = df.rename(index=str, columns={"rain_1h":"Rain", "snow_1h":"Snow"})
def kelv_to_fahr(temp_kelv):
    temp_fahr = ((temp_kelv - 273.15) * (9/5)) + 32
    return temp_fahr

df2["temp"] = kelv_to_fahr(df2["temp"])
print(df2)

      holiday    temp  Rain  Snow  clouds_all  weather_main  \
0        None  59.234  0.00   0.0          40        Clouds
1        None  61.178  0.00   0.0          75        Clouds
2        None  61.574  0.00   0.0          90        Clouds
3        None  62.564  0.00   0.0          90        Clouds
4        None  64.382  0.00   0.0          75        Clouds
5        None  65.426  0.00   0.0           1         Clear
6        None  68.036  0.00   0.0           1         Clear
7        None  69.278  0.00   0.0           1         Clear
8        None  69.782  0.00   0.0          20        Clouds
9        None  67.910  0.00   0.0          20        Clouds
10       None  64.076  0.00   0.0          20        Clouds
11       None  61.214  0.00   0.0           1         Clear
12       None  59.828  0.00   0.0           1         Clear
13       None  57.218  0.00   0.0           1         Clear
14       None  54.140  0.00   0.0           1         Clear
15       None  52.664  0.00   0.0           1         Clear
16       None  50.576  0.00   0.0           1         Clear
17       None  46.454  0.00   0.0           1         Clear
18       None  46.292  0.00   0.0           1         Clear
19       None  43.484  0.00   0.0           1         Clear
20       None  41.846  0.00   0.0           1         Clear
21       None  41.144  0.00   0.0           1         Clear
22       None  40.946  0.00   0.0           1         Clear
23       None  48.794  0.00   0.0           1         Clear
24       None  65.876  0.00   0.0           1         Clear
25       None  68.144  0.00   0.0           1         Clear
26       None  70.088  0.00   0.0           1         Clear
27       None  71.636  0.00   0.0           1         Clear
28       None  71.564  0.00   0.0           1         Clear
29       None  68.918  0.00   0.0          20        Clouds
...       ...     ...   ...   ...         ...           ...
48174    None  45.320  0.00   0.0          90        Clouds
48175    None  45.050  0.00   0.0          90        Clouds
48176    None  45.302  0.00   0.0          90        Clouds
48177    None  44.906  0.00   0.0          90        Clouds
48178    None  44.870  0.00   0.0          90        Clouds
48179    None  44.672  0.00   0.0          90        Clouds
48180    None  44.456  0.00   0.0          90        Clouds
48181    None  44.474  0.00   0.0          90        Clouds
48182    None  44.114  0.00   0.0          90        Clouds
48183    None  44.258  0.00   0.0          90        Clouds
48184    None  44.636  0.00   0.0          90        Clouds
48185    None  44.618  0.00   0.0          90        Clouds
48186    None  44.834  0.00   0.0          90        Clouds
48187    None  45.446  0.00   0.0          90        Clouds
48188    None  46.814  0.00   0.0          75        Clouds
48189    None  48.254  0.00   0.0          90        Clouds
48190    None  49.172  0.00   0.0          75        Clouds
48191    None  49.784  0.00   0.0          90          Rain
48192    None  50.594  0.00   0.0          90          Rain
48193    None  50.594  0.00   0.0          90       Drizzle
48194    None  51.242  0.00   0.0          75          Rain
48195    None  51.242  0.00   0.0          75       Drizzle
48196    None  52.214  0.00   0.0          75          Rain
48197    None  52.952  0.00   0.0          75        Clouds
48198    None  51.890  0.25   0.0          75          Rain
48199    None  50.540  0.00   0.0          75        Clouds
48200    None  49.298  0.00   0.0          90        Clouds
48201    None  49.244  0.00   0.0          90  Thunderstorm
48202    None  48.092  0.00   0.0          90        Clouds
48203    None  48.146  0.00   0.0          90        Clouds

           weather_description        date_time  traffic_volume
0             scattered clouds   10/2/2012 9:00            5545
1                broken clouds  10/2/2012 10:00            4516
2              overcast clouds  10/2/2012 11:00            4767
3              overcast clouds  10/2/2012 12:00            5026
4                broken clouds  10/2/2012 13:00            4918
5                 sky is clear  10/2/2012 14:00            5181
6                 sky is clear  10/2/2012 15:00            5584
7                 sky is clear  10/2/2012 16:00            6015
8                   few clouds  10/2/2012 17:00            5791
9                   few clouds  10/2/2012 18:00            4770
10                  few clouds  10/2/2012 19:00            3539
11                sky is clear  10/2/2012 20:00            2784
12                sky is clear  10/2/2012 21:00            2361
13                sky is clear  10/2/2012 22:00            1529
14                sky is clear  10/2/2012 23:00             963
15                sky is clear   10/3/2012 0:00             506
16                sky is clear   10/3/2012 1:00             321
17                sky is clear   10/3/2012 2:00             273
18                sky is clear   10/3/2012 3:00             367
19                sky is clear   10/3/2012 4:00             814
20                sky is clear   10/3/2012 5:00            2718
21                sky is clear   10/3/2012 6:00            5673
22                sky is clear   10/3/2012 8:00            6511
23                sky is clear   10/3/2012 9:00            5471
24                sky is clear  10/3/2012 12:00            5097
25                sky is clear  10/3/2012 13:00            4887
26                sky is clear  10/3/2012 14:00            5337
27                sky is clear  10/3/2012 15:00            5692
28                sky is clear  10/3/2012 16:00            6137
29                  few clouds  10/3/2012 18:00            4623
...                        ...              ...             ...
48174          overcast clouds  9/29/2018 20:00            3338
48175          overcast clouds  9/29/2018 21:00            2950
48176          overcast clouds  9/29/2018 22:00            2607
48177          overcast clouds  9/29/2018 23:00            3856
48178          overcast clouds   9/30/2018 0:00            1826
48179          overcast clouds   9/30/2018 1:00             920
48180          overcast clouds   9/30/2018 2:00             696
48181          overcast clouds   9/30/2018 3:00             364
48182          overcast clouds   9/30/2018 4:00             335
48183          overcast clouds   9/30/2018 5:00             444
48184          overcast clouds   9/30/2018 6:00             802
48185          overcast clouds   9/30/2018 7:00            1175
48186          overcast clouds   9/30/2018 8:00            2002
48187          overcast clouds   9/30/2018 9:00            2882
48188            broken clouds  9/30/2018 10:00            3701
48189          overcast clouds  9/30/2018 11:00            4049
48190            broken clouds  9/30/2018 12:00            4429
48191               light rain  9/30/2018 13:00            4547
48192               light rain  9/30/2018 14:00            4380
48193  light intensity drizzle  9/30/2018 14:00            4380
48194    proximity shower rain  9/30/2018 15:00            4302
48195  light intensity drizzle  9/30/2018 15:00            4302
48196               light rain  9/30/2018 16:00            4283
48197            broken clouds  9/30/2018 17:00            4132
48198               light rain  9/30/2018 18:00            3947
48199            broken clouds  9/30/2018 19:00            3543
48200          overcast clouds  9/30/2018 20:00            2781
48201   proximity thunderstorm  9/30/2018 21:00            2159
48202          overcast clouds  9/30/2018 22:00            1450
48203          overcast clouds  9/30/2018 23:00             954

[48204 rows x 9 columns]

In [3]:
df3= df2.set_index('holiday').groupby('holiday').mean()
print(df3.traffic_volume)
holiday_data= df3.traffic_volume
%store holiday_data

holiday
Christmas Day                 827.500000
Columbus Day                  519.400000
Independence Day             1076.000000
Labor Day                    1013.142857
Martin Luther King Jr Day     612.666667
Memorial Day                 1107.600000
New Years Day                1356.000000
None                         3262.852170
State Fair                    634.800000
Thanksgiving Day              933.500000
Veterans Day                  691.400000
Washingtons Birthday          635.200000
Name: traffic_volume, dtype: float64
Stored 'holiday_data' (Series)

In [4]:
df100= df2.set_index('temp').groupby('temp').mean()
print(df100.traffic_volume)
temp_data= df100.traffic_volume
%store temp_data

temp
-459.670    1318.200000
-21.568     1462.000000
-21.154     1037.000000
-20.074      800.000000
-18.994      483.000000
-18.868      459.000000
-17.554      277.000000
-17.410     1932.000000
-16.798      472.000000
-16.600     3045.000000
-16.402     4611.000000
-16.222     1319.000000
-16.186      194.000000
-16.168     3514.000000
-16.024     1178.333333
-15.934     1654.000000
-15.790      312.000000
-15.718      256.000000
-15.700     4360.000000
-15.646     3504.000000
-15.538     3067.000000
-15.070      334.000000
-15.034     4453.000000
-14.926     1129.000000
-14.836      744.000000
-14.800     2249.086957
-14.782      297.000000
-14.692     1728.000000
-14.602     2610.000000
-14.584      466.000000
               ...
 92.048     3714.000000
 92.174     4680.000000
 92.228     6423.000000
 92.300     3970.000000
 92.318     6180.000000
 92.336     5750.000000
 92.354     4149.000000
 92.480     4550.000000
 92.498     4538.000000
 92.552     6653.000000
 92.678     4298.000000
 92.930     5813.000000
 92.966     4231.000000
 92.984     4341.000000
 93.092     6298.000000
 93.290     4634.000000
 93.452     4032.000000
 93.506     5201.000000
 93.524     5173.000000
 94.118     4858.000000
 94.154     3705.000000
 94.172     5319.000000
 94.496     3822.000000
 95.162     5982.000000
 95.504     5903.000000
 96.296     4798.000000
 96.440     3812.000000
 96.674     5314.000000
 97.052     5902.000000
 98.456     3810.000000
Name: traffic_volume, Length: 5843, dtype: float64
Stored 'temp_data' (Series)

In [166]:
df4= df2.set_index('weather_main').groupby('weather_main').mean()
print(df4.traffic_volume)
Weather_Data= df4.traffic_volume
%store Weather_Data

weather_main
Clear           3055.908819
Clouds          3618.449749
Drizzle         3290.727073
Fog             2703.720395
Haze            3502.101471
Mist            2932.956639
Rain            3317.905501
Smoke           3237.650000
Snow            3016.844228
Squall          2061.750000
Thunderstorm    3001.620890
Name: traffic_volume, dtype: float64
Stored 'Weather_Data' (Series)

In [167]:
df5= df2.set_index('weather_description').groupby('weather_description').mean()
print(df5.traffic_volume)
Weather_Description_Data= df5.traffic_volume
%store Weather_Description_Data

weather_description
SQUALLS                                2061.750000
Sky is Clear                           3423.148899
broken clouds                          3661.142092
drizzle                                3094.858679
few clouds                             3691.453476
fog                                    2703.720395
freezing rain                          4314.000000
haze                                   3502.101471
heavy intensity drizzle                3371.109375
heavy intensity rain                   3140.072805
heavy snow                             3031.472403
light intensity drizzle                3400.567273
light intensity shower rain            4140.307692
light rain                             3349.257117
light rain and snow                    3961.166667
light shower snow                      4618.636364
light snow                             3042.770298
mist                                   2932.956639
moderate rain                          3202.603966
overcast clouds                        3375.963590
proximity shower rain                  4567.845588
proximity thunderstorm                 3076.457652
proximity thunderstorm with drizzle    3117.538462
proximity thunderstorm with rain       2819.269231
scattered clouds                       3875.622363
shower drizzle                         3547.666667
shower snow                            5664.000000
sky is clear                           3001.570510
sleet                                  4312.666667
smoke                                  3237.650000
snow                                   2712.122867
thunderstorm                           2843.752000
thunderstorm with drizzle              2297.000000
thunderstorm with heavy rain           2631.142857
thunderstorm with light drizzle        2779.266667
thunderstorm with light rain           2776.833333
thunderstorm with rain                 3476.405405
very heavy rain                        2568.833333
Name: traffic_volume, dtype: float64
Stored 'Weather_Description_Data' (Series)

In [192]:
df6= df2.set_index('Rain').groupby('Rain').mean()
Rain_Data= df6.traffic_volume
%store Rain_Data
print(df6.traffic_volume)

Stored 'Rain_Data' (Series)
Rain
0.00       3257.336321
0.25       3261.965190
0.26       5945.500000
0.27       5130.000000
0.28       3736.782609
0.29       4267.500000
0.30       2774.239669
0.31       2815.500000
0.32       4414.733333
0.33       5131.000000
0.34       3815.200000
0.35       2222.571429
0.36       4816.166667
0.37       3831.000000
0.38       3782.909091
0.40       4455.625000
0.41       3032.000000
0.42       5070.952381
0.43       3957.444444
0.44       3537.153846
0.45        206.000000
0.46       5541.000000
0.47       3727.111111
0.48       5333.600000
0.50       2568.000000
0.51       3508.222656
0.52       2497.571429
0.53       3006.000000
0.54       2683.166667
0.55       2965.727273
              ...
12.19      4271.000000
12.45      4549.000000
12.70      4056.500000
12.83      4669.000000
13.21      3089.000000
13.32      5045.000000
13.46        10.000000
13.64       696.000000
14.73       610.000000
15.41      4487.000000
15.75      2086.000000
16.00      6298.000000
16.38       635.000000
16.51      5724.000000
18.03      6443.000000
18.42      1904.000000
18.80      2755.000000
19.90       542.000000
20.07      1520.000000
20.24      4302.000000
21.42      1745.000000
23.80       346.000000
25.32       958.000000
25.46      2118.000000
27.57       492.000000
28.70      1190.000000
31.75      4913.000000
44.45      4802.000000
55.63       315.000000
9831.30    5535.000000
Name: traffic_volume, Length: 372, dtype: float64

In [193]:
df7= df2.set_index('Snow').groupby('Snow').mean()
Snow_Data= df7.traffic_volume
%store Snow_Data
print(df7.traffic_volume)

Stored 'Snow_Data' (Series)
Snow
0.00    3260.238508
0.05    2410.928571
0.06    3078.250000
0.08     401.000000
0.10    2415.666667
0.13    4163.666667
0.17     359.000000
0.21    2013.000000
0.25    3053.000000
0.32    5198.000000
0.44    2165.000000
0.51    3740.666667
Name: traffic_volume, dtype: float64

In [126]:
df8= df2.set_index('clouds_all').groupby('clouds_all').mean()
print(df8.traffic_volume)

clouds_all
0      3383.100604
1      2791.397539
2      5311.500000
3      3914.333333
4      4464.000000
5      4134.194698
6      1643.000000
8      3308.711111
11      408.600000
12     3424.025641
13     1178.333333
16     3060.800000
17     1997.000000
20     3706.532720
24     3250.795699
25     1571.500000
32     3385.351351
36     3517.349112
38     4415.000000
40     3688.341848
42      230.000000
44     3757.482993
46     3199.777778
48     3536.922222
50     5687.500000
54     1700.500000
56     3444.506024
57     3671.615385
58     2381.750000
59     3220.125000
60     1928.000000
62      403.500000
63     1825.400000
64     3081.337612
67     1355.000000
68     2929.882682
70     2975.750000
72     1224.000000
75     3664.525350
76     3540.614379
77     3421.000000
78     5007.000000
80     3411.966851
81     3128.454545
83     5243.000000
84     1517.000000
85     2637.294118
86     4224.000000
87     2376.888889
88     3462.207650
89     3514.692308
90     3264.043851
91     4429.916667
92     3475.896907
93     2843.529412
96      744.142857
97     1898.000000
98     1711.428571
99     3807.977273
100    3544.095745
Name: traffic_volume, dtype: float64

In [191]:
df77= pd.to_datetime(df2['date_time'])
df9= df2.replace(df2.date_time, df77)
df10= df9.groupby([df9.date_time.dt.year, df9.date_time.dt.month]).mean()
print(df10.traffic_volume)
Month_Data= df10.traffic_volume
%store Month_Data

date_time  date_time
2012       10           3486.740373
           11           3198.431847
           12           2983.665635
2013       1            3153.654391
           2            3163.216179
           3            3178.204196
           4            3299.192758
           5            3406.630851
           6            3372.327249
           7            3397.068182
           8            3565.536923
           9            3292.039749
           10           3580.423077
           11           3299.594915
           12           2908.321226
2014       1            2930.078780
           2            3059.722963
           3            3283.589431
           4            3316.219118
           5            3429.088689
           6            3246.413437
           7            3433.305471
           8            3664.544118
2015       6            3241.736559
           7            3197.291715
           8            3313.879070
           9            3341.111111
           10           3315.996497
           11           3108.342213
           12           3107.174957
                           ...
2016       4            3475.434839
           5            3330.711732
           6            3514.357625
           7            2786.311275
           8            3149.538741
           9            3139.309554
           10           3167.510316
           11           2935.204290
           12           2997.709091
2017       1            3021.324561
           2            3386.042017
           3            3414.931792
           4            3359.195223
           5            3353.585084
           6            3471.363525
           7            3239.432941
           8            3517.937500
           9            3431.079503
           10           3437.757543
           11           3350.451422
           12           3158.147560
2018       1            3064.751131
           2            3148.782338
           3            3317.182238
           4            3095.325942
           5            3317.254879
           6            3444.641876
           7            3236.646651
           8            3398.878436
           9            3302.213904
Name: traffic_volume, Length: 63, dtype: float64
Stored 'Month_Data' (Series)

In [201]:
df88= pd.to_datetime(df2['date_time'])
df12= df9.groupby([df9.date_time.dt.hour]).mean()
print(df12.traffic_volume)
Hour_Data= df12.traffic_volume
%store Hour_Data

date_time
0      834.781051
1      516.449000
2      388.353640
3      371.090864
4      702.551889
5     2094.573437
6     4140.503594
7     4740.181337
8     4587.497115
9     4385.277502
10    4184.665544
11    4465.877561
12    4718.293095
13    4714.940682
14    4931.888776
15    5240.524302
16    5663.756539
17    5310.076048
18    4263.718530
19    3276.394187
20    2834.667509
21    2668.940464
22    2199.405717
23    1469.135294
Name: traffic_volume, dtype: float64
Stored 'Hour_Data' (Series)